{% extends "base_layout_slim.html" %}

{% block display %}
  <div class="container">
  <div class="mx-auto" >
    <div class="p-3 mb-2 bg-secondary text-dark">
        <form action="" method="POST" name="form">
            <div class="col-md-4 col-md-offset-4">
                {{ form.hidden_tag() }}
                      <legend><h1>Connexion</h1></legend>

                <div class="form-group">
                    <label class="control-label" for="email">Adresse E-Mail</label>
                    <div class="col-10">
                    {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mdp">Mot de passe</label>
                    <div class="col-10">
                    {{ form.mdp }}
                </div>
                </div>
                {{ form.remember_me() }} {{ form.remember_me.label }}
                <div class="col-10">
                <button class="btn btn-default btn-sm" type="submit">Se connecter</button>
                </div>
                <div class="col-10">
                    <label class="control-label" for="espace"> </label>
                    <label class="control-label" for="espace1"> </label>
                <a href="{{ url_for('inscription') }}" class="btn btn-light btn-sm" role="button" aria-pressed="true">Nouvel utilisateur ? Cliquez ici pour vous inscrire</a>
              </div>
          </div>

        </form>
        {% for error in get_flashed_messages(with_categories=true, category_filter=["error"]) %}
        <div class="alert alert-dismissable alert-danger" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error[1] }}
        </div>
        {% endfor %}
        {% for info in get_flashed_messages(with_categories=true, category_filter=["info"]) %}
        <div class="alert alert-dismissable alert-info" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ info[1] }}
        </div>
        {% endfor %}
        {% for success in get_flashed_messages(with_categories=true, category_filter=["success"]) %}
        <div class="alert alert-dismissable alert-success" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ success[1] }}
        </div>
        {% endfor %}

</div>
</div>
</div>
{% endblock %}
