{% extends "base_layout_slim.html" %}

{% block display %}
  <div class="container">
  <div class="mx-auto" >
    <div class="p-3 mb-2 bg-secondary text-dark">
        <form action="" method="POST" name="form">
            <div class="col-md-4 col-md-offset-4">
                {{ form.hidden_tag() }}
                      <legend><h1>Connexion</h1></legend>

                <div class="form-group">
                    <label class="control-label" for="email">Adresse E-Mail</label>
                    <div class="col-10">
                    {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mdp">Mot de passe</label>
                    <div class="col-10">
                    {{ form.mdp }}
                </div>
                </div>
                {{ form.remember_me() }} {{ form.remember_me.label }}
                <div class="col-10">
                <button class="btn btn-default btn-sm" type="submit">Se connecter</button>
                </div>
                <div class="col-10">
                    <label class="control-label" for="espace"> </label>
                    <label class="control-label" for="espace1"> </label>
                <a href="{{ url_for('inscription') }}" class="btn btn-light btn-sm" role="button" aria-pressed="true">Nouvel utilisateur ? Cliquez ici pour vous inscrire</a>
              </div>
          </div>

        </form>

</div>
</div>
</div>
{% endblock %}
