{% extends "base_layout.html" %}

{% block content %}
<div class="mx-auto" >
<div class="container">
<div class="mx-auto" >
<div class="p-3 mb-2 bg-secondary text-dark">


      <fieldset>
      <legend><h1>Mes informations personnelles</h1></legend>

  <div class="form-group row">
    <label for="Prénom" class="col-4 col-form-label"> Votre nom   : <span class="badge badge-light"> {{ current_user.nom }}  </span></label>
  </div>
  <div class="form-group row">
    <label for="Prénom" class="col-4 col-form-label"> Votre prénom   : <span class="badge badge-light"> {{ current_user.prenom }}  </span></label>
  </div>
  <div class="form-group row">
    <label for="E_mail" class="col-4 col-form-label"> Votre e-mail : <span class="badge badge-light"> {{ current_user.mail }}  </span></label>
  </div>
  <div class="form-group row">
    <label for="depart" class="col-4 col-form-label"> Votre département : <span class="badge badge-light"> {{ current_user.departement.nom }}  </span></label>
  </div>
  <div class="form-group row">
    <label for="niv" class="col-4 col-form-label"> Votre année d'étude : <span class="badge badge-light"> {{ current_user.niveau }}  </span></label>
  </div>
  <div class="form-group row">
    {% if (current_user.mobilites == []) %}
      <label for="mob" class="col-4 col-form-label">  <span class="badge badge-light">Vous n'avez pas effectué de mobilité internationnale  </span></label>
    {% else %}
      <label for="mob" class="col-4 col-form-label">  <span class="badge badge-light">Vous avez effectué une mobilité internationnale à {{ current_user.mobilites[0].nom }}  </span></label>
    {% endif %}
  </div>
  <a href="{{ url_for('modif_profil') }}" class="btn btn-light btn-sm" role="button" aria-pressed="true">Modifier mes informations</a>
  <br>
  <br>
  <p><a href="{{ url_for('suppr_profil') }}" class="btn btn-light btn-sm" role="button" aria-pressed="true">Supprimer mon compte</a></p>

    </fieldset>
</div>
</div>
</div>
</div>
{% endblock %}
