{% extends "frontend/base_layout.html" %}

{% block content %}

<!-- TEMPLATE PAGE D'ACCUEIL -->


    <!-- header -->

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="static/assets/vignette_unitech.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h2>Bienvenue,Welcome,Willkommen,добро пожаловать,Powitanie,欢迎</h2>
        </div>
      </div>
  </div>
  </div>


    <!-- FIN header -->





{% endblock %}
