{% extends "frontend/base_layout.html" %}

{% block content %}

<!-- TEMPLATE PAGE D'ACCUEIL -->

<div class="container-fluid">

    <!-- header -->
    <div class="row">
                <div class="col-sm">
            <h1 class="page-header">Je suis une page d'accueil (pas encore faite)</h1>
        </div>
        <div class="container-fluid">
            <ol class="breadcrumb" >
                <li class="active">
                    bonjour à tous c'est cocorentin, je vous souhaite la bienvenue sur mon site
                </li>
            </ol>
        </div>

    </div>
    <!-- FIN header -->
    
    
    
</div>

{% endblock %}
