<!DOCTYPE HTML>

<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>INSA - International</title>

      <!-- Bootstrap Core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="static/css/sb-admin.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/static/libs/" type="text/css" media="screen"/>
      <script src="/static/libs/"></script>

  </head>


  <body>

    <div id="wrapper">
        <!-- Navigation -->
        <div class= "container-fluid">
            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-inverted">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Echanges et DD</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="dropdown nav-item">
                        <!-- <div class="dropdown"> -->
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credits</a>
                            <ul class="dropdown-menu message-dropdown">
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="static/assets/Nick.jpg" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Nick Schrader</strong>
                                                </h5>
                                                <p>Responsable Projet</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="static/assets/Pauline.jpg" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Pauline Schmitt</strong>
                                                </h5>
                                                <p>Responsable Technique</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="static/assets/Corentin.jpg" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Corentin Leroy</strong>
                                                </h5>
                                                <p>Responsable Données</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="static/assets/Greg.jpg" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Grégoire Launay</strong>
                                                </h5>
                                                <p>Responsable Design</p>
                                            </div>
                                        </div>
                                </li>

                            <!-- dropdown menu-->
                            </ul>

                    <!-- dropdown nav item-->
                    </li>

                    {% if (current_user.is_authenticated) %}
                      <li class="dropdown nav-item">
                          <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">  {{ current_user.get_nom() }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item">
                                <a href="profil">Profil</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="javascript:;">Messagerie</a>
                              </li>
                              <li class="divider"></li>
                              <li class="dropdown-item">
                                  <a href="logout">Se déconnecter</a>
                              </li>
                          </ul>
                      </li>

                    {% else %}
                      <!-- TODO: Use url_for insted of hard coded links -->
                      <a class="nav-link" href="login">Se connecter</a>
                    {% endif %}

                <!-- nave bar -->
                </ul>

                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

                <ul class="nav navbar-nav side-nav list-group">
                  <li class="list-group ">
                    <a href="javascript:;" data-toggle="collapse" data-target="#Info">Informations</a>
                    <ul id="Info" class="list-group collapse list-group-item-dark">
                      {% for continent in Continent.objects.all() %}
                      <li class="list-group-item list-group-item-dark" >
                        <a href="javascript:;" data-toggle="collapse" data-target="#{{ continent.pk }}">{{ continent.nom }}</a>
                        <ul id="{{ continent.pk }}" class="list-group collapse list-group-item-dark">
                          <li class="list-group-item list-group-item-dark">
                          {% for pays in Pays.objects.filter(continent=continent) %}
                          <a href="javascript:;" data-toggle="collapse" data-target="#{{ pays.pk }}"><p class="text-dark">{{ pays.nom }}</p></a>
                          <ul id="{{ pays.pk }}" class="list-group collapse list-group-item-dark">
                            <li class="list-group-item list-group-item-dark">
                              {% for uni in Universite.objects.filter(pays=pays) %}
                              <a href="javascript:;"><p class="text-dark">{{ uni.nom }}</p></a>
                              {% endfor %}
                            </li>
                          </ul>
                          {% endfor %}
                          </li>
                        </ul>
                      </li>
                      {% endfor %}
                    </ul>
                    <a href="{{ url_for("voeux") }}" >Voeux</a>
                    <a href="{{ url_for("projet") }}">Projet WEB</a>
                  </li>

                <!-- navbar -->
                </ul>

            <!-- /.navbar-collapse -->
            </nav>

            <div id="content">{% block content %}{% endblock %}</div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><p>{{ current_user.get_nom() if current_user.is_authenticated else "Vous n'êtes pas connecté" }}</p></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                         </div>
                      </div>
                    </div>
            </div>
        <!-- container fluid-->
        </div>

    <!-- /#wrapper -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

</html>
