<!DOCTYPE HTML>

<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>INSA - International</title>

      <!-- Bootstrap Core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="static/css/sb-admin.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">


  </head>


  <body>

    <div id="wrapper">
        <!-- Navigation -->
        <div class= "container-fluid">
        <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-inverted">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="frontend/index.html">Echanges et DD</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="dropdown nav-item">
                    <!-- <div class="dropdown"> -->
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credits</a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Nick.jpg" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Nick Schrader</strong>
                                            </h5>
                                            <p>Responsable Projet</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Pauline.jpg" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Pauline Schmitt</strong>
                                            </h5>
                                            <p>Responsable Secrétaire</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Corentin.jpg" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Corentin Leroy</strong>
                                            </h5>
                                            <p>Responsable Donées</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Greg.jpg" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Grégoire Launay</strong>
                                            </h5>
                                            <p>Responsable Design</p>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        <!-- dropdown menu-->
                        </ul>

                <!-- dropdown nav item-->
                </li>

                <li class="dropdown nav-item">
                    <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">  Jean-Baptiste Lanneluc <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="javascript:;"> Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Messagerie</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Option</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Log out</a>
                        </li>
                    </ul>
                </li>

            <!-- nave bar -->
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

                <ul class="nav navbar-nav side-nav list-group">
                      <li class="list-group ">
                        <a href="javascript:;" data-toggle="collapse" data-target="#Info">Informations</a>
                        <ul id="Info" class="list-group collapse list-group-item-dark">
                            <li class="list-group-item list-group-item-dark" >
                                <a href="javascript:;" data-toggle="collapse" data-target="#Euro">Europe</a>
                                  <ul id="Euro" class="list-group collapse list-group-item-dark">
                                    <li class="list-group-item list-group-item-dark">
                                      <a href="javascript:;" data-toggle="collapse" data-target="#Al"><p class="text-dark">ALLEMAGNE</p></a>
                                        <ul id="Al" class="list-group collapse list-group-item-dark">
                                          <li class="list-group-item list-group-item-dark">
                                            <!--TODO Liaison de bases de données via python pour remplir les données-->
                                            <a href="javascript:;"> <p class="text-dark">RWTH</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Berlin</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Bochum Universität</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Bremerhaven University of Applied Sciences</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Brandenburgische Technische Universität</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Dresde</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Dortmun</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Karlsruhe Institute of Technology</p></a>
                                            <a href="javascript:;"><p class="text-dark">  TU Kaiserslautern</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Ludwig Maximilians Universität Munchen</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Münche</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Passau</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Stuttgart</p></a>
                                          </li>
                                        </ul>
                                        <a href="javascript:;" data-toggle="collapse" data-target="#Aut"><p class="text-dark">AUTRICHE</p></a>
                                          <ul id="Aut" class="list-group collapse list-group-item-dark">
                                            <li class="list-group-item list-group-item-dark">
                                              <a href="javascript:;"><p class="text-dark"> Technische Universität Wien</p></a>
                                              <a href="javascript:;"><p class="text-dark"> Montan Universität</p></a>
                                              <a href="javascript:;"><p class="text-dark"> Graz University of Technology</p></a>
                                            </li>
                                          </ul>
                                    </li>
                                  </ul>



                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#AmdS">Amérique du Sud</a>
                                  <ul id="AmdS" class="list-group list-group collapse list-group-item-dark">
                                    <li class="list-group-item list-group-item-dark">
                                        <a href="javascript:;" data-toggle="collapse" data-target="#Arg"><p class="text-dark">ARGENTINE</p></a>
                                    </li>
                                  </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Amérique du Nord</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Afrique</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>


                            <li class="list-group-item">
                              <a href="javascript:;" data-toggle="collapse" data-target="#Info">Asie</a>
                                <ul id="Info" class="list-group collapse">
                                </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Océanie</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>

                        <!-- infos -->
                        </ul>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Voeux">Voeux</a>
                      </li>

                <!-- navbar -->
                </ul>


        <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div id="content">{% block content %}{% endblock %}</div>
                <!-- /.container fluid -->
                </div>

            <!-- /.page wrapper -->
            </div>

        <!-- /.container-fluid -->
        </div>

    <!-- /#wrapper -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

</html>
