{% extends "frontend/universite.html" %}

{% block content %}

<!-- TEMPLATE PAGE PAYS -->

<div class="container-fluid">

    <!-- header -->
    <div class="row">
        
        <div class="text-light">
            {% block title %}
                <h1 class="page-header">Editer</h1>
                <h3>{{ super() }}</h3>
            <p>Cette page n'est pas terminée</p>
            {% endblock %}
        </div>
        
        
        <div>
            
        </div>
        
    </div>
    <!-- FIN header -->
    
    
    
    
</div>

{% endblock %}
