<!DOCTYPE HTML>

<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>INSA - International</title>

      <!-- Bootstrap Core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="static/css/sb-admin.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">


  </head>


  <body>

    <div id="wrapper">
        <!-- Navigation -->
        <div class= "container-fluid">
        <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-inverted">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Echanges et DD</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="dropdown nav-item">
                    <!-- <div class="dropdown"> -->
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credits</a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Dodo.svg" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>J'ai vu un Poussin</strong>
                                            </h5>
                                            <p class="small text-muted"> Hier à 4h30 du matin</p>
                                            <p>Pauline dormais dans son lit</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Logo_Dodo.png" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Pauline Schmitt</strong>
                                            </h5>
                                            <p class="small text-muted">L'année dernière </p>
                                            <p>Corentin était en GM</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-preview">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="media-left">
                                            <img class="media-object" src="static/assets/Dodo1.png" width="50" height="50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>La troisième va vous étonner</strong>
                                            </h5>
                                            <p class="small text-muted"> Aujourd'hui à 8:00</p>
                                            <p>Nick était dans son lit</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-item message-footer">
                                <a href="javascript:;">Read All New Messages</a>
                            </li>
                            
                        <!-- dropdown menu-->    
                        </ul>
                    
                <!-- dropdown nav item-->
                </li>
                
                <li class="dropdown nav-item">
                    <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">  Jean-Baptiste Lanneluc <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="javascript:;"> Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Messagerie</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Option</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-item">
                            <a href="javascript:;"> Log out</a>
                        </li>
                    </ul>
                </li>
                
            <!-- nave bar -->
            </ul>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

                <ul class="nav navbar-nav side-nav list-group">
                      <li class="list-group ">
                        <a href="javascript:;" data-toggle="collapse" data-target="#Info">Informations</a>
                        <ul id="Info" class="list-group collapse list-group-item-dark">
                            <li class="list-group-item list-group-item-dark" >
                                <a href="javascript:;" data-toggle="collapse" data-target="#Euro">Europe</a>
                                  <ul id="Euro" class="list-group collapse list-group-item-dark">
                                    <li class="list-group-item list-group-item-dark">
                                      <a href="javascript:;" data-toggle="collapse" data-target="#Al"><p class="text-dark">ALLEMAGNE</p></a>
                                        <ul id="Al" class="list-group collapse list-group-item-dark">
                                          <li class="list-group-item list-group-item-dark">
                                            <!--TODO Liaison de bases de données via python pour remplir les données-->
                                            <a href="javascript:;"> <p class="text-dark">RWTH</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Berlin</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Bochum Universität</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Bremerhaven University of Applied Sciences</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Brandenburgische Technische Universität</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Dresde</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Dortmun</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Karlsruhe Institute of Technology</p></a>
                                            <a href="javascript:;"><p class="text-dark">  TU Kaiserslautern</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Ludwig Maximilians Universität Munchen</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Technische Universität Münche</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Passau</p></a>
                                            <a href="javascript:;"><p class="text-dark">  Universität Stuttgart</p></a>
                                          </li>
                                        </ul>
                                        <a href="javascript:;" data-toggle="collapse" data-target="#Aut"><p class="text-dark">AUTRICHE</p></a>
                                          <ul id="Aut" class="list-group collapse list-group-item-dark">
                                            <li class="list-group-item list-group-item-dark">
                                              <a href="javascript:;"><p class="text-dark"> Technische Universität Wien</p></a>
                                              <a href="javascript:;"><p class="text-dark"> Montan Universität</p></a>
                                              <a href="javascript:;"><p class="text-dark"> Graz University of Technology</p></a>
                                            </li>
                                          </ul>
                                    </li>
                                  </ul>



                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#AmdS">Amérique du Sud</a>
                                  <ul id="AmdS" class="list-group list-group collapse list-group-item-dark">
                                    <li class="list-group-item list-group-item-dark">
                                        <a href="javascript:;" data-toggle="collapse" data-target="#Arg"><p class="text-dark">ARGENTINE</p></a>
                                    </li>
                                  </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Amérique du Nord</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Afrique</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>


                            <li class="list-group-item">
                              <a href="javascript:;" data-toggle="collapse" data-target="#Info">Asie</a>
                                <ul id="Info" class="list-group collapse">
                                </ul>
                            </li>


                            <li class="list-group-item">
                                <a href="javascript:;" data-toggle="collapse" data-target="#Info">Océanie</a>
                                  <ul id="Info" class="list-group collapse">
                                  </ul>
                            </li>

                        <!-- infos -->
                        </ul>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Voeux">Voeux</a>
                      </li>
                    
                <!-- navbar -->
                </ul>

            
        <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Notre Page Web <small>Echange Universiataire</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                 Exchange
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-primary card-inverse">
                            <div class="card-header card-primary">
                                <div class="row">
                                    <div class="col-xs-9 text-xs-right">
                                        <div class="huge">Incroyable!</div>
                                        <div>Vous êtes reçus</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer card-default">
                                <a href="javascript:;">
                                    <span class="pull-xs-left">View Details</span>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-green card-inverse">
                            <div class="card-header card-green">
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9 text-xs-right">
                                        <div class="huge">12</div>
                                        <div>New Tasks!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer card-green">
                                <a href="javascript:;">
                                    <span class="pull-xs-left">View Details</span>
                                    <span class="pull-xs-right"></span>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-yellow card-inverse">
                            <div class="card-header card-yellow">
                                <div class="row">
                                    <div class="col-xs-3">

                                    </div>
                                    <div class="col-xs-9 text-xs-right">
                                        <div class="huge">124</div>
                                        <div>New Orders!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer card-yellow">
                                <a href="javascript:;">
                                    <span class="pull-xs-left">View Details</span>
                                    <span class="pull-xs-right"></span>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-red card-inverse">
                            <div class="card-header card-red">
                                <div class="row">
                                    <div class="col-xs-3">

                                    </div>
                                    <div class="col-xs-9 text-xs-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer card-red">
                                <a href="javascript:;">
                                    <span class="pull-xs-left">View Details</span>
                                    <span class="pull-xs-right"></span>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                <!-- /.row -->
                </div>
                

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header card-default">
                               Area Chart
                            </div>
                            <div class="container">
                              <p>You are {{ user.username if user.username else "Nobody" }} </p>
                              <a href="login">Login</a>
                              <a href="logout">Logout</a>
                              <p class="text-center">Demain, dès l'aube, à l'heure où blanchit la campagne,</p>
                              <p class="text-center">Je partirai. Vois-tu, je sais que tu m'attends.</p>
                              <p class="text-center">J'irai par la forêt, j'irai par la montagne.</p>
                              <p class="text-center">Je ne puis demeurer loin de toi plus longtemps.</p>
                              <p class="text-center">
                              <p class="text-center">Je marcherai les yeux fixés sur mes pensées,</p>
                              <p class="text-center">Sans rien voir au dehors, sans entendre aucun bruit,</p>
                              <p class="text-center">Seul, inconnu, le dos courbé, les mains croisées,</p>
                              <p class="text-center">Triste, et le jour pour moi sera comme la nuit.</p>

                              <p class="text-center">Je ne regarderai ni l'or du soir qui tombe,</p>
                              <p class="text-center">Ni les voiles au loin descendant vers Harfleur,</p>
                              <p class="text-center">Et quand j'arriverai, je mettrai sur ta tombe</p>
                              <p class="text-center">Un bouquet de houx vert et de bruyère en fleur</p>

                            </div>
                        </div>
                    </div>
                    
                <!-- row -->
                </div>

                <!-- /.container fluid -->
                </div>
            
            <!-- /.page wrapper -->
            </div>
        
        <!-- /.container-fluid -->
        </div>

    <!-- /#wrapper -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

</html>
