{% extends "base_layout.html" %}

{% block content %}

<!-- TEMPLATE PAGE PAYS -->

<div class="container-fluid">

    <!-- header -->
    <div class="row">

        <!-- NOM DU PAYS -->
        <div class="col-sm">
            <h1 class="page-header text-light">{{ pays.nom }} ({{ pays.continent.nom }})</h1>
        </div>
        <!-- FIN NOM DU PAYS -->
        <!-- FILTRES -->
        <div class="container-fluid">
            <h2 class="font-weight-bold text-light">Universités partenaires</h2>
            <ol class="breadcrumb" >
                <li class="active">
                  <form action="" method="POST" name="form">
                    {{ form.hidden_tag() }}
                    <strong>Filtres :</strong>

                    &emsp;{{ form.doublediplome.label }} {{ form.doublediplome() }}
                    {% for error in form.doublediplome.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    &emsp;{{ form.F_echange.label }} {{ form.F_echange() }}
                    {% for error in form.F_echange.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <!-- menu déroulant pour le choix du département-->

                    &emsp; {{ form.departement.label }}
                    {{ form.departement }}
                    {% for error in form.departement.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{ form.submit() }}
                    </form>
                </li>
            </ol>
            <!--TODO Lié au template Ajout -->
            <p align="right"> <a class="btn btn-light btn-sm" href="{{ url_for( 'ajout' ) }}" role="button">Ajouter un accord</a></p>
        </div>
        <!-- FIN FILTRES -->

    </div>
    <!-- FIN header -->

    <!-- LISTE UNIVERSITES -->
    <table class="table table-bordered table-secondary">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Université</th>
            <th scope="col">Type</th>
            <th scope="col">Nombre de places</th>
            <th scope="col">Département(s) concerné(s)</th>
            <th scope="col">Demandes</th>
          </tr>
        </thead>
        <tbody>

          {% for uni, echng in univ_echng %}

          <tr>
            <td><a href="{{ url_for('universite', id=uni.pk) }}">{{ uni.nom }}</a></td>
            <td>{{ echng.accord.nom }}</td>
            <td>{{ echng.places }}</td>
            <td>{{ echng.get_departments_str() }}</td>
            <td>
              <div class="btn-group ">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demandes</button>
              <!-- TODO : all data should be dynamic -->
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Jean-Paul Dupont 4AS1</a>
                <a class="dropdown-item" href="#">Jean-Michel Chanron 5AS2</a>
                <a class="dropdown-item" href="#">Hubert De la pâte Feuilletée 4AS1</a>
              </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <!-- FIN UNIVERSITES -->

    <!-- INFOS -->
    <!-- TODO : le texte du paragraphe doit pouvoir être modifié (utiliser le lien ci-dessous (modifier/ajouter)) -->
    <!-- TODO : Il faut aussi que le style standard s'applique aussi sur le Markdown -->
    <h2 class="font-weight-bold text-light">Informations</h2>
    <div class="card card-green">
        <div class="card-body" id="viePratique">
            <button class="btn btn-link text-success" data-toggle="collapse" data-target="#viePratiqueCollapse" aria-expanded="true" aria-controls="viePratiqueCollapse">
                <h3 class="card-title card-green">Vie pratique</h3>
            </button>
            <div id="viePratiqueCollapse" class="card-body" aria-labelledby="viePratique">
                {{ Article.get_markup_for(pays.vie_pratique) }}
                <a href="#" class="card-link">Modifier/Ajouter</a>
            </div>
        </div>
    </div>
    <div class="card card-yellow">
      <div class="card-body" id="tourisme">
        <button class="btn btn-link text-warning" data-toggle="collapse" data-target="#tourismeCollapse" aria-expanded="true" aria-controls="tourismeCollapse">
            <h3 class="card-title card-yellow text-warning">Tourisme</h3>
        </button>
        <div id="tourismeCollapse" class="collapse card-body" aria-labelledby="tourisme">
          {{ Article.get_markup_for(pays.tourisme) }}
          <a href="#" class="card-link">Modifier/Ajouter</a>
        </div>
      </div>
    </div>
    <div class="card card-red">
      <div class="card-body" id="culture">
          <button class="btn btn-link text-danger" data-toggle="collapse" data-target="#cultureCollapse" aria-expanded="true" aria-controls="cultureCollapse">
            <h3 class="card-title card-red text-danger">Culture</h3>
          </button>
          <div id="cultureCollapse" class="collapse card-body" aria-labelledby="culture">
              {{ Article.get_markup_for(pays.culture) }}
              <a href="#" class="card-link">Modifier/Ajouter</a>
          </div>
      </div>
    </div>
    <div class="card border-primary">
      <div class="card-body" id="climat">
          <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#climatCollapse" aria-expanded="true" aria-controls="climatCollapse">
            <h3 class="card-title card-blue text-primary">Climat</h3>
          </button>
          <div id="climatCollapse" class="collapse card-body" aria-labelledby="climat">
              {{ Article.get_markup_for(pays.climat) }}
              <a href="#" class="card-link">Modifier/Ajouter</a>
          </div>
      </div>
    </div>
    <!-- FIN INFOS -->

</div>

{% endblock %}
