{% extends "base_layout.html" %}

{% block content %}

<!-- TEMPLATE PAGE PAYS -->


<div class="container-fluid">

    <!-- header -->
    <div class="row">

        <!-- NOM DU PAYS -->
        <div class="col-sm">
            <h1 class="page-header text-light">{{ pays.nom }} ({{ pays.continent.nom }})</h1>
        </div>
        <!-- FIN NOM DU PAYS -->
        <!-- FILTRES -->
        <div class="container-fluid">
            <h2 class="font-weight-bold text-light">Universités partenaires</h2>
            <ol class="breadcrumb" >
                <li class="active">
                  <form method="POST" action="" name="filter_form">
                    {{ filter_form.hidden_tag() }}
                    <strong>Filtres :</strong>

                    &emsp;{{ filter_form.doublediplome.label }} {{ filter_form.doublediplome() }}
                    {% for error in filter_form.doublediplome.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    &emsp;{{ filter_form.F_echange.label }} {{ filter_form.F_echange() }}
                    {% for error in filter_form.F_echange.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <!-- menu déroulant pour le choix du département-->

                    &emsp; {{ filter_form.departement.label }}
                    {{ filter_form.departement }}
                    {% for error in filter_form.departement.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{ filter_form.submit() }}
                  </form>
                </li>
            </ol>
            <!--TODO Lié au template Ajout -->
           <!-- <p align="right"> <a class="btn btn-light btn-sm" href="{{ url_for( 'ajout' ) }}" role="button">Ajouter un accord</a></p>-->
        </div>
        <!-- FIN FILTRES -->

    </div>
    <!-- FIN header -->

    <!-- LISTE UNIVERSITES -->
    <table class="table table-bordered table-secondary">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Université</th>
            <th scope="col">Type</th>
            <th scope="col">Nombre de places</th>
            <th scope="col">Département(s) concerné(s)</th>
            <th scope="col">Demandes</th>
          </tr>
        </thead>
        <tbody>
          {% for dto in dtos %}
          {% for echange in dto.universite.echanges %}

          <tr>
            {% if loop.first %}
            <td class="align-middle" rowspan="{{ loop.length }}">
              <a href="{{ url_for('universite', id=dto.universite.pk) }}">{{ dto.universite.nom }}</a>
            </td>
            {% endif %}

            <td>{{ echange.accord.nom }}</td>
            <td>{{ echange.places }}</td>
            <td>{{ echange.get_departments_str() }}</td>

            {% if loop.first %}
            <td class="align-middle" align="center" rowspan="{{ loop.length }}">
              <div class="btn-group dropleft">
                {% if dto.has_voeux() %}
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demandes</button>
                <div class="dropdown-menu">
                  {% for v in dto.get_voeux() %}
                  <a class="dropdown-item" href="#">{{ v }}</a>
                  {% endfor %}
                </div>
                {% else %}
                <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Pas de demande</button>
                {% endif %}
              </div>
            </td>
            {% endif %}
          </tr>

          {% endfor %}
          {% endfor %}
        </tbody>
    </table>
    <!-- FIN UNIVERSITES -->

    <!-- INFOS -->
    <h2 class="font-weight-bold text-light">Informations</h2>
    
    <div class="card card-green">
        <div class="card-body" id="viePratique">
            <button class="btn btn-link text-success" data-toggle="collapse" data-target="#viePratiqueCollapse, #viePratiqueData, #viePratiqueButton2" aria-expanded="true" aria-controls="viePratiqueCollapse">
                <h3 class="card-title card-green">Vie pratique</h3>
            </button>
            <div id="viePratiqueCollapse" class="card-body collapse" aria-labelledby="viePratique">
                <div class="collapse multi-collapse" id="viePratiqueData">
                    {{ Article.get_markup_for(pays.vie_pratique)}}
                </div>
                <form class="collapse multi-collapse" id="viePratiqueModif" name="vie_pratique" method="post" action="{{ url_for('wiki_vie_pratique', id=pays.pk) }}">
                    <div class="form-group row">
                      <div class="col-10">
                          {{ vie_pratique.hidden_tag() }}
                          {{ vie_pratique.texte(cols="100", rows="5") }}<br>
                          {% for error in vie_pratique.texte.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                          {% endfor %}
                      </div>
                    </div>
                    <p>{{ vie_pratique.enregistrer() }}</p>
                    <button id="viePratiqueButton1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#viePratiqueData, #viePratiqueModif, #viePratiqueButton1, #viePratiqueButton2" aria-expanded="false" aria-controls="viePratiqueData viePratiqueModif">Annuler</button>
                </form>
                <div id="viePratiqueButton2" class="multi-collapse collapse">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#viePratiqueData, #viePratiqueModif, #viePratiqueButton1, #viePratiqueButton2" aria-expanded="false" aria-controls="viePratiqueData viePratiqueModif">Modifier/Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-yellow">
      <div class="card-body" id="tourisme">
        <button class="btn btn-link text-warning" data-toggle="collapse" data-target="#tourismeCollapse, #tourismeData, #tourismeButton2" aria-expanded="true" aria-controls="tourismeCollapse">
            <h3 class="card-title card-yellow text-warning">Tourisme</h3>
        </button>
        <div id="tourismeCollapse" class="collapse card-body" aria-labelledby="tourisme">
            <div class="collapse multi-collapse" id="tourismeData">
                {{ Article.get_markup_for(pays.tourisme)}}
            </div>
            <form class="collapse multi-collapse" id="tourismeModif" name="tourisme" method="post" action="{{ url_for('wiki_tourisme', id=pays.pk) }}">
                <div class="form-group row">
                  <div class="col-10">
                      {{ tourisme.hidden_tag() }}
                      {{ tourisme.texte(cols="100", rows="5") }}<br>
                      {% for error in tourisme.texte.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                </div>
                <p>{{ tourisme.enregistrer() }}</p>
                <button id="tourismeButton1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#tourismeData, #tourismeModif, #tourismeButton1, #tourismeButton2" aria-expanded="false" aria-controls="tourismeData tourismeModif">Annuler</button>
            </form>
            <div id="tourismeButton2" class="multi-collapse collapse">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tourismeData, #tourismeModif, #tourismeButton1, #tourismeButton2" aria-expanded="false" aria-controls="tourismeData tourismeModif">Modifier/Ajouter</button>
            </div>
        </div>
      </div>
    </div>

    <div class="card card-red">
      <div class="card-body" id="culture">
          <button class="btn btn-link text-danger" data-toggle="collapse" data-target="#cultureCollapse, #cultureData, #cultureButton2" aria-expanded="true" aria-controls="cultureCollapse">
            <h3 class="card-title card-red text-danger">Culture</h3>
          </button>
          <div id="cultureCollapse" class="collapse card-body" aria-labelledby="culture">
            <div class="collapse multi-collapse" id="cultureData">
                {{ Article.get_markup_for(pays.culture) }}
            </div>
            <form class="collapse multi-collapse" id="cultureModif" name="culture" method="post" action="{{ url_for('wiki_culture', id=pays.pk) }}">
                <div class="form-group row">
                  <div class="col-10">
                      {{ culture.hidden_tag() }}
                      {{ culture.texte(cols="100", rows="5") }}<br>
                      {% for error in culture.texte.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                </div>
                <p>{{ culture.enregistrer() }}</p>
                <button id="cultureButton1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#cultureData, #cultureModif, #cultureButton1, #cultureButton2" aria-expanded="false" aria-controls="cultureData cultureModif">Annuler</button>
            </form>
            <div id="cultureButton2" class="multi-collapse collapse">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#cultureData, #cultureModif, #cultureButton1, #cultureButton2" aria-expanded="false" aria-controls="cultureData cultureModif">Modifier/Ajouter</button>
            </div>
        </div>      
      </div>
    </div>
    
    <div class="card border-primary">
      <div class="card-body" id="climat">
          <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#climatCollapse, #climatData, #climatButton2" aria-expanded="true" aria-controls="climatCollapse">
            <h3 class="card-title card-blue text-primary">Climat</h3>
          </button>
          <div id="climatCollapse" class="collapse card-body" aria-labelledby="climat">
            <div class="collapse multi-collapse" id="climatData">
                {{ Article.get_markup_for(pays.climat)}}
            </div>
            <form class="collapse multi-collapse" id="climatModif" name="climat" method="post" action="{{ url_for('wiki_climat', id=pays.pk) }}">
                <div class="form-group row">
                  <div class="col-10">
                      {{ climat.hidden_tag() }}
                      {{ climat.texte(cols="100", rows="5") }}<br>
                      {% for error in climat.texte.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                </div>
                <p>{{ climat.enregistrer() }}</p>
                <button id="climatButton1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#climatData, #climatModif, #climatButton1, #climatButton2" aria-expanded="false" aria-controls="climatData climatModif">Annuler</button>
            </form>
            <div id="climatButton2" class="multi-collapse collapse">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#climatData, #climatModif, #climatButton1, #climatButton2" aria-expanded="false" aria-controls="climatData climatModif">Modifier/Ajouter</button>
            </div>
        </div>
      </div>
    </div>
    <!-- FIN INFOS -->

</div>

{% endblock %}
