{% extends "base_layout.html" %}

{% block content %}

<!-- TEMPLATE PAGE PAYS -->

<div class="container-fluid">

    <!-- header -->
    <div class="row">

        <!-- TITRE -->
        <div class="col-sm">
            <h1 class="page-header text-light">{% block title %} {{ universite.nom }} {% endblock %}</h1>
        </div>
        <!-- FIN TITRE -->
        <!-- INFOS PLACES -->
        <div class="container-fluid">
            <ol class="breadcrumb" >

                <div class="media col">
                    <div class="media-body align-self-center">
                        <h2 class="page-header"><a href="{{ url_for('pays', id=universite.pays.pk) }}">{{ universite.pays.nom }}</a></h2>
                    </div>
                </div>
                <div class = "col-md-auto align-self-center">
                    
                   
                </div>
                <div class = "col-md-auto align-self-center">
                   <div class="btn-group dropleft">
                    {% if dto.has_voeux() %}
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demandes</button>
                    <div class="dropdown-menu">
                      {% for v in dto.get_voeux() %}
                      <a class="dropdown-item" href="#">{{ v }}</a>
                      {% endfor %}
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Pas de demande</button>
                    {% endif %}
                    
                    
                  </div>
                </div>

            </ol>
        </div>
        <!-- FIN INFOS PLACES -->

    </div>
    <!-- FIN header -->


    <!-- INFOS -->
    <h2 class="font-weight-bold text-white">Informations pratiques</h2>
    
    <div class="card card-green">
        <div class="card-body" id="cours">
            <button class="btn btn-link text-success" data-toggle="collapse" data-target="#coursCollapse, #coursData, #coursButton2" aria-expanded="true" aria-controls="coursCollapse">
                <h3 class="card-title card-green">Cours</h3>
            </button>
            <div id="coursCollapse" class="collapse card-body" aria-labelledby="cours">
            <div class="collapse multi-collapse" id="coursData">
                {{ Article.get_markup_for(universite.cours) }}
            </div>
            <form class="collapse multi-collapse" id="coursModif" name="cours" method="post" action="{{ url_for('wiki_cours', id=universite.pk) }}">
                <div class="form-group row">
                  <div class="col-10">
                      {{ cours.hidden_tag() }}
                      {{ cours.texte(cols="100", rows="5") }}<br>
                      {% for error in cours.texte.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                </div>
                <p>{{ cours.enregistrer() }}</p>
                <button id="coursButton1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#coursData, #coursModif, #coursButton1, #coursButton2" aria-expanded="false" aria-controls="coursData coursModif">Annuler</button>
            </form>
            <div id="coursButton2" class="multi-collapse collapse">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#coursData, #coursModif, #coursButton1, #coursButton2" aria-expanded="false" aria-controls="coursData coursModif">Modifier/Ajouter</button>
            </div>
        </div>
      </div>
    </div>
        
    <div class="card card-yellow">
      <div class="card-body" id="accessibilite">
        <button class="btn btn-link text-warning" data-toggle="collapse" data-target="#accessibiliteCollapse" aria-expanded="true" aria-controls="accessibiliteCollapse">
            <h3 class="card-title card-yellow text-warning">Accessibilité</h3>
        </button>
        <div id="accessibiliteCollapse" class="collapse card-body" aria-labelledby="accessibilite">
          {{ Article.get_markup_for(universite.accessibilite) }}
          <a href="#" class="card-link">Modifier/Ajouter</a>
        </div>
      </div>
    </div>
    <div class="card card-red">
      <div class="card-body" id="logement">
          <button class="btn btn-link text-danger" data-toggle="collapse" data-target="#logementCollapse" aria-expanded="true" aria-controls="logementCollapse">
            <h3 class="card-title card-red text-danger">Logement</h3>
          </button>
          <div id="logementCollapse" class="collapse card-body" aria-labelledby="logement">
              {{ Article.get_markup_for(universite.logement) }}
              <a href="#" class="card-link">Modifier/Ajouter</a>
          </div>
      </div>
    </div>
    <div class="card border-primary">
      <div class="card-body" id="ambiance">
          <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#ambianceCollapse" aria-expanded="true" aria-controls="ambianceCollapse">
            <h3 class="card-title card-blue text-primary">Sorties et Ambiance</h3>
          </button>
          <div id="ambianceCollapse" class="collapse card-body" aria-labelledby="ambiance">
              {{ Article.get_markup_for(universite.ambiance) }}
              <a href="#" class="card-link">Modifier/Ajouter</a>
          </div>
      </div>
    </div>
    <!-- FIN INFOS -->
    <br>
    <br>
    <!-- TODO Supprimer l'accord -->
    <!--<form class="well form-horizontal" action=" " method="post">
      {{ form.hidden_tag() }}
        <p align="right">
            <span class="badge badge-light badge-pill"><a>{{ form.submit() }} </a></span>
        </p>
    </form>-->


</div>

{% endblock %}
