{% extends "frontend/base_layout.html" %}
{% block content %}
  <h1>Voeux d'échanges</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Pays</th>
      <th scope="col">Université</th>
      <th scope="col">Type</th>
      <th scope="col">Nombre de places</th>
      <th scope="col">Demandes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Suède</th>
      <td>KTH</td>
      <td>Echange</td>
      <td>2x5</td>
      <td>Henry De Lescain</td>
    </tr>
    <tr>
      <th scope="row">Suède</th>
      <td>Chalmers</td>
      <td>Echange</td>
      <td>4x5</td>
      <td>Nadine Morrano</td>
    </tr>
    <tr>
      <th scope="row">Suède</th>
      <<td>SU</td>
      <td>Echange</td>
      <td>5x5</td>
      <td>Jean-Marie Lepen</td>
    </tr>
  </tbody>
</table>
  <p class="important">
    Welcome on my awesome homepage.
{% endblock %}
