{% extends "base_layout.html" %}
{% block content %}
<!--Proposition au dessus--->
<div class="container-fluid">
    <h1 class="text-light">Voeux d'échanges</h1>
    <ol class="breadcrumb" >
      <li class="active">
        <form action="" method="POST" name="form">
          {{ form.hidden_tag() }}
          <div>
            {% if enregistre %}
            <strong>Voeu 1 (<span style="color: green;">Enregistré</span>) :</strong>
            {% else %}
            <strong>Voeu 1 (<span style="color: red;">Pas enregistré</span>) :</strong>
            {% endif %}

            &emsp;
            {{ form.semestre_1.label }}
            {{ form.semestre_1() }}
            {% for error in form.semestre_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.universite_1.label }}
            {{ form.universite_1() }}
            {% for error in form.universite_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
              <br>
          </div>

          <div>
            {% if enregistre %}
            <strong>Voeu 2 (<span style="color: green;">Enregistré</span>) :</strong>
            {% else %}
            <strong>Voeu 2 (<span style="color: red;">Pas enregistré</span>) :</strong>
            {% endif %}

            &emsp;
            {{ form.semestre_2.label }}
            {{ form.semestre_2() }}
            {% for error in form.semestre_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.universite_2.label }}
            {{ form.universite_2() }}
            {% for error in form.universite_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <br>
          <div>
            {{ form.annee.label }}
            {{ form.annee() }}
            {% for error in form.annee.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.submit() }}
          </div>
        </form>

        {% for error in get_flashed_messages(with_categories=true, category_filter=["error"]) %}
        <div class="alert alert-dismissable alert-danger" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error[1] }}
        </div>
        {% endfor %}
        {% for info in get_flashed_messages(with_categories=true, category_filter=["info"]) %}
        <div class="alert alert-dismissable alert-info" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ info[1] }}
        </div>
        {% endfor %}
        {% for success in get_flashed_messages(with_categories=true, category_filter=["success"]) %}
        <div class="alert alert-dismissable alert-success" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ success[1] }}
        </div>
        {% endfor %}

        <!--<div align="right">
          <form action="{{ url_for('delete_voeux') }}" method="POST" name="del_form">
            {{ form.hidden_tag() }}
            {{ del_form.submit() }}
          </form>
        </div>-->
      </li>
    </ol>


  <!--Tableau-------------------------------------------------->

  <table class="table table-bordered table-secondary">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Pays</th>
      <th scope="col">Université</th>
      <th scope="col">Type</th>
      <th scope="col">Nombre de places</th>
      <th scope="col">Département(s) concerné(s)</th>
      <th scope="col">Demandes</th>
    </tr>
  </thead>
  <tbody>
    {% for pays_dto in pays_dtos %}
    {% for uni_dto in pays_dto.universites %}
    {% for echange in uni_dto.universite.echanges %}

    <tr>
      {% if loop.first %}
      <td class="align-middle" rowspan="{{ loop.length }}">
        <a href="{{ url_for('pays', id=pays_dto.pays.pk) }}">{{ pays_dto.pays.nom }}</a>
      </td>
      {% endif %}

      {% if loop.first %}
      <td class="align-middle" rowspan="{{ loop.length }}">
        <a href="{{ url_for('universite', id=uni_dto.universite.pk) }}">{{ uni_dto.universite.nom }}</a>
      </td>
      {% endif %}

      <td>{{ echange.accord.nom }}</td>
      <td>{{ echange.places }}</td>
      <td>{{ echange.get_departments_str() }}</td>

      {% if loop.first %}
      <td class="align-middle" align="center" rowspan="{{ loop.length }}">
        <div class="btn-group dropleft">
          {% if uni_dto.has_voeux() %}
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demandes</button>
          <div class="dropdown-menu">
            {% for v in uni_dto.get_voeux() %}
            <a class="dropdown-item" href="#">{{ v }}</a>
            {% endfor %}
          </div>
          {% else %}
          <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Pas de demande</button>
          {% endif %}
        </div>
      </td>
      {% endif %}
    </tr>

    {% endfor %}
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
