{% extends "base_layout.html" %}
{% block content %}
<!--Proposition au dessus--->
<div class="container-fluid">
    <h1 class="text-light">Voeux d'échanges</h1>
    <ol class="breadcrumb" >
      <li class="active">
        <form action="" method="POST" name="form">
          {{ form.hidden_tag() }}
          <div>
            {% if enregistre %}
            <strong>Voeu 1 (<span style="color: green;">Enregistré</span>) :</strong>
            {% else %}
            <strong>Voeu 1 (<span style="color: red;">Pas enregistré</span>) :</strong>
            {% endif %}

            &emsp;
            {{ form.annee_1.label }}
            {{ form.annee_1() }}
            {% for error in form.annee_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.semestre_1.label }}
            {{ form.semestre_1() }}
            {% for error in form.semestre_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.universite_1.label }}
            {{ form.universite_1() }}
            {% for error in form.universite_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div>
            {% if enregistre %}
            <strong>Voeu 2 (<span style="color: green;">Enregistré</span>) :</strong>
            {% else %}
            <strong>Voeu 2 (<span style="color: red;">Pas enregistré</span>) :</strong>
            {% endif %}

            &emsp;
            {{ form.annee_2.label }}
            {{ form.annee_2() }}
            {% for error in form.annee_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.semestre_2.label }}
            {{ form.semestre_2() }}
            {% for error in form.semestre_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            &emsp;
            {{ form.universite_2.label }}
            {{ form.universite_2() }}
            {% for error in form.universite_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

          <div>
            {{ form.submit() }}
          </div>
        </form>

        {% for error in get_flashed_messages(with_categories=true, category_filter=["error"]) %}
        <div class="alert alert-dismissable alert-danger" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error[1] }}
        </div>
        {% endfor %}
        {% for info in get_flashed_messages(with_categories=true, category_filter=["info"]) %}
        <div class="alert alert-dismissable alert-info" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ info[1] }}
        </div>
        {% endfor %}
        {% for success in get_flashed_messages(with_categories=true, category_filter=["success"]) %}
        <div class="alert alert-dismissable alert-success" align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ success[1] }}
        </div>
        {% endfor %}

        <div>
          <form action="{{ url_for('delete_voeux') }}" method="POST" name="del_form">
            {{ form.hidden_tag() }}
            {{ del_form.submit() }}
          </form>
        </div>
      </li>
    </ol>


  <!--Tableau-------------------------------------------------->

  <table class="table table-bordered table-secondary">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Pays</th>
      <th scope="col">Université</th>
      <th scope="col">Type</th>
      <th scope="col">Nombre de places</th>
      <th scope="col">Demandes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Suède</th>
      <td>KTH</td>
      <td>Echange</td>
      <td>2x5</td>
      <td><div class="btn-group ">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demandes
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Jean-Paul Dupont 4AS1</a>
          <a class="dropdown-item" href="#">Jean-Michel Chanron 5AS2</a>
          <a class="dropdown-item" href="#">Hubert De la pâte Feuilletée 4AS1</a>
          </div>
          </div>
        </td>
    </tr>
    <tr>
      <th scope="row">Suède</th>
      <td>Chalmers</td>
      <td>Double Diplôme</td>
      <td>4x5</td>
      <td><div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demandes
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Jean-Paul Dupont 4AS1</a>
          <a class="dropdown-item" href="#">Jean-Michel Chanron 5AS2</a>
          <a class="dropdown-item" href="#">Hubert De la pâte Feuilletée 4AS1</a>
          </div>
          </div>
        </td>
    </tr>
    <tr>
      <th scope="row">Suède</th>
      <td>SU</td>
      <td>Echange</td>
      <td>5x5</td>
      <td><div class="btn-group ">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demandes
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Jean-Paul Dupont 4AS1</a>
          <a class="dropdown-item" href="#">Jean-Michel Chanron 5AS2</a>
          <a class="dropdown-item" href="#">Hubert De la pâte Feuilletée 4AS1</a>
          </div>
          </div>
        </td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}
