<!DOCTYPE HTML>

<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>INSA - International</title>

      <!-- Bootstrap Core CSS -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

  </head>

  <body>

    {% block display %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>

  {% for error in get_flashed_messages(with_categories=true, category_filter=["error"]) %}
  <div class="alert alert-dismissable alert-danger" align="center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error[1] }}
  </div>
  {% endfor %}
  {% for info in get_flashed_messages(with_categories=true, category_filter=["info"]) %}
  <div class="alert alert-dismissable alert-info" align="center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ info[1] }}
  </div>
  {% endfor %}
  {% for success in get_flashed_messages(with_categories=true, category_filter=["success"]) %}
  <div class="alert alert-dismissable alert-success" align="center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ success[1] }}
  </div>
  {% endfor %}

</html>
