{% extends "base_layout_slim.html" %}

{% block display %}
    <div id="wrapper">
        <!-- Navigation -->
        <div class= "container-fluid">
            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-inverted">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Echanges et DD</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="dropdown nav-item">
                        <!-- <div class="dropdown"> -->
                            <a class="nav-link dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credits</a>
                            <ul class="dropdown-menu message-dropdown">
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="{{ url_for('static', filename='assets/Nick.jpg') }}" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Nick Schrader</strong>
                                                </h5>
                                                <p>Responsable Projet</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="{{ url_for('static', filename='assets/Pauline.jpg') }}" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Pauline Schmitt</strong>
                                                </h5>
                                                <p>Responsable Technique</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="{{ url_for('static', filename='assets/Corentin.jpg') }}" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Corentin Leroy</strong>
                                                </h5>
                                                <p>Responsable Données</p>
                                            </div>
                                        </div>
                                </li>
                                <li class="dropdown-item message-preview">
                                        <div class="media">
                                            <span class="media-left">
                                                <img class="media-object" src="{{ url_for('static', filename='assets/Greg.jpg') }}" width="50" height="50" alt="">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading"><strong>Grégoire Launay</strong>
                                                </h5>
                                                <p>Responsable Design</p>
                                            </div>
                                        </div>
                                </li>

                            <!-- dropdown menu-->
                            </ul>

                    <!-- dropdown nav item-->
                    </li>

                    {% if (current_user.is_authenticated) %}
                      <li class="dropdown nav-item">
                          <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">  {{ current_user.get_nom() }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item">
                                <a href="{{ url_for( 'profil' ) }}">Profil</a>
                              </li>
                              <li class="divider"></li>
                              <li class="dropdown-item">
                                  <a href="{{ url_for( 'logout' ) }}">Se déconnecter</a>
                              </li>
                          </ul>
                      </li>

                    {% else %}
                      <!-- TODO: Use url_for insted of hard coded links -->
                      <a class="nav-link" href="{{ url_for( 'login' ) }}">Se connecter</a>
                    {% endif %}

                <!-- nave bar -->
                </ul>

                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

                <ul class="nav navbar-nav side-nav list-group">
                  <li class="list-group ">
                    <a href="javascript:;" data-toggle="collapse" data-target="#Info">Informations</a>
                    <ul id="Info" class="list-group collapse list-group-item-dark">
                      {% for continent in Continent.objects.all() %}
                      <li class="list-group-item list-group-item-dark" >
                        <a href="javascript:;" data-toggle="collapse" data-target="#{{ continent.pk }}">{{ continent.nom }}</a>
                        <ul id="{{ continent.pk }}" class="list-group collapse list-group-item-dark">
                          <li class="list-group-item list-group-item-dark">
                          {% for pays in Pays.objects(continent=continent) %}
                          <a href="{{ url_for('pays', id=pays.pk) }}"><p class="text-dark">{{ pays.nom }}</p></a>
                          {% endfor %}
                          </li>
                        </ul>
                      </li>
                      {% endfor %}
                    </ul>
                    <a href="{{ url_for('voeux') }}" >Voeux</a>
                    <a href="{{ url_for('projet') }}">Projet WEB</a>
                  </li>

                <!-- navbar -->
                </ul>

            <!-- /.navbar-collapse -->
            </nav>

            <div id="content">{% block content %}{% endblock %}</div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><p>{{ current_user.get_nom() if current_user.is_authenticated else "Vous n'êtes pas connecté" }}</p></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                         </div>
                      </div>
                    </div>
            </div>
        <!-- container fluid-->
        </div>

    <!-- /#wrapper -->
    </div>

    {% for error in get_flashed_messages(with_categories=true, category_filter=["error"]) %}
    <div class="alert alert-dismissable alert-danger" align="center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error[1] }}
    </div>
    {% endfor %}
    {% for info in get_flashed_messages(with_categories=true, category_filter=["info"]) %}
    <div class="alert alert-dismissable alert-info" align="center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ info[1] }}
    </div>
    {% endfor %}
    {% for success in get_flashed_messages(with_categories=true, category_filter=["success"]) %}
    <div class="alert alert-dismissable alert-success" align="center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ success[1] }}
    </div>
    {% endfor %}
    
{% endblock %}
