{% extends "base.html" %}

{% block content %}
    <h1>S'inscrire</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.prenom.label }}<br>
            {{ form.prenom(size=32) }}<br>
            {% for error in form.prenom.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nom.label }}<br>
            {{ form.nom(size=32) }}<br>
            {% for error in form.nom.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.departement.label }}<br>
            {{ form.departement(size=3) }}<br>
            {% for error in form.departement.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.niveau.label }}<br>
            {{ form.niveau(size=2) }}<br>
            {% for error in form.niveau.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mobilite.label }}<br>
            {{ form.mobilite(size=2) }}<br>
            {% for error in form.mobilite.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mdp.label }}<br>
            {{ form.mdp(size=32) }}<br>
            {% for error in form.mdp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mdp2.label }}<br>
            {{ form.mdp2(size=32) }}<br>
            {% for error in form.mdp2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
